# Flask ve Flask eklentileri
Flask==2.3.2
Flask-Session==0.4.0


# BeautifulSoup için
beautifulsoup4==4.12.2

# APScheduler için
APScheduler==3.10.4

# Requests modülü
requests==2.31.0

# Python'dan gelen yerleşik mo
