body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00c3a1;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-left img {
  height: 60px; /* Logonun boyutunu ayarla */
  width: auto;
  margin-right: 10px; /* Sağ tarafında biraz boşluk bırak */
}

.logo-right img {
  height: 95px; /* Logonun boyutunu ayarla */
  width: auto;
  margin-left: 10px; /* Sol tarafında biraz boşluk bırak */
}

.logo-right {
  font-size: 18px;
  font-weight: bold;
}

.title {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: #00c3a1;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  margin-top: -60px;
}

.login-form {
  background-color: #e0e0e0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #00c3a1;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00c3a1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #019378;
}
